h1 {color:darkred;
}
h2 {color:chartreuse;
}
h1 {font-family: 'Roboto Condensed', sans-serif;;
}
h2 {font-family: 'Mukta', sans-serif;
}
h1 {border: 2px solid #069508;
}
h2 {border: 4px groove #4d1407;
}

h2 {width: 50%;
}








